body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(16, 27, 27);
}
  
.main-header{
  background-color: black;
  margin-bottom: 50px;
}
.navbar-nav ul li a{
  justify-content: end;
}
.navbar-nav .nav-item{
  font-size: 20px;
  margin: 25px 10px 20px 50px;
}
.navbar-nav .nav-item .nav-link{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .dropdown-item:hover{
  color: #00d167;
}
.dropdown-item{
  font-weight: bold;
}
.logo{
  width: 130px;
  margin: -20px 10px -5px 0px;
}

.album-container{
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 100px;
}
.album-component{
  margin: 0px 20px 40px 0px;
}
.img-album{
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-top: 0px;
}
.album{
  background-color: black;
  color: #00d167;
  margin-top: -30px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.album-button{
  background-color: #00d167;
  border-radius: 25px;
  padding: 7px 70px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 10px 0 20px 0;
}
.album-text{
  margin-top: 30px;
  padding: 5px 0px;
  font-weight: bold;
}
.img-container{
  margin-top: 1%;
}